@import '../../styles/main.scss';

.cart {
  display: flex;

  .icon {
    font-size: 4rem;
    color: var(--color-gold);
  }

  .number-of-goods {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: 0.5rem solid var(--color-gold);
    border-radius: 50%;
    height: 3rem;
    color: var(--color-red);
    width: 3rem;
  }
}
