@import '../../styles/main.scss';

.goods-grid {
  box-sizing: border-box;
  display: grid;
  padding: calc(var(--size-container-gap) / 2);

  .good-item {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: calc(var(--size-container-gap) / 2);

    .content-wrapper {
      background-color: var(--color-white);
      border: 0.3rem solid var(--color-red);
      border-radius: 2.5rem;
      cursor: pointer;
      height: 100%;
      padding: 2rem;

      .content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;

        .header {
          display: flex;
          font-size: 3.2rem;

          .title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            font-size: var(--size-big-text);
            text-align: center;
          }

          .icon-container {
            font-size: var(--size-big-text);
            text-align: center;
            width: 4rem;

            .cart {
              color: var(--color-red);
            }

            .star {
              color: var(--color-gold);
            }
          }
        }

        .image-wrapper {
          flex: 1;
          display: flex;
          flex-flow: column;
          justify-content: center;

          img {
            width: 100%;
          }
        }

        .description-row {
          font-size: var(--size-medium-text);
          overflow-wrap: break-word;

          .color {
            display: flex;

            .color-box-wrapper {
              margin-left: 0.5rem;
            }
          }

          .description {
            font-style: oblique;
            margin-bottom: 2rem;
            text-align: center;
            word-break: break-all;
          }

          .no-wrap {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
