@import '../../styles/main.scss';

.footer {
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-container-gap);

  .author {
    font-size: var(--size-small-text);
  }

  .rss-logo {
    background: url(../../assets/images/background/rs_school_js.svg) no-repeat;
    height: 3rem;
    width: 8rem;
  }
}
