@import '../../../styles/main.scss';

.check-box {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  input {
    cursor: pointer;
    height: 2rem;
    margin-right: 1rem;
    width: 2rem;
  }

  label {
    cursor: pointer;
    flex: 1;
  }
}
