@import '../../../styles/main.scss';

.range-slider {
  .title {
    text-align: center;
  }

  .slider {
    width: 100%;
    height: 2.5rem;

    .thumb {
      height: 2.5rem;
      line-height: 2.5rem;
      width: 2.5rem;
      background-color: var(--color-black);
      border-radius: 50%;
      cursor: grab;
    }

    .track {
      top: 0;
      bottom: 0;
      background-color: var(--color-red);
      border-radius: 2.5rem;

      &:nth-child(odd) {
        background-color: var(--color-gray);
      }
    }
  }

  .values {
    display: flex;
    justify-content: space-between;
  }
}
