@import '../../../styles/main.scss';

.button {
  background-color: var(--color-white);
  border: 0.3rem solid var(--color-red);
  border-radius: 2.5rem;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-red);
  }
}
